@font-face {
  font-family: "ElevenTwenty";
  src: url("../assets/fonts/ElevenTwenty.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e6e6e6;
  color: #BAC8B1;
}

.navbar .navbar-brand {
  font-family: "ElevenTwenty", sans-serif;
  font-size: 24px;
  
  
}
.navbar-brand a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #404e3b;
  font-family: "ElevenTwenty", sans-serif;
}
.navbar .navbar-links {
  display: flex;
  gap: 20px;
  
}
.navbar-links a {
  color: #404e3b;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.navbar a:hover {
  color: #7b9669;
}
